<div class="col-md-6 offset-md-3">
<!--  <form (ngSubmit) = "onSubmit()">-->

<!--    <div class="form-group">-->
<!--      <label>Name</label>-->
<!--      <input type="text" class="form-control"-->
<!--             [(ngModel)]="department.name" id="name" name="name">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Read Only</label>-->
<!--      <input type="checkbox" checked class="form-check-label"-->
<!--             [(ngModel)]="department.readOnly" id="readOnly" name="readOnly">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Mandatory</label>-->
<!--      <input type="checkbox" checked class="form-check"-->
<!--             [(ngModel)]="department.mandatory" id="mandatory" name="mandatory">-->
<!--    </div>-->

<!--    <button class="btn btn-success" type="submit">Submit</button>-->
<!--  </form>-->
  <h4 class="modal-title">Update Department</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">×</button>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"
                   [(ngModel)]="department.name" id="name" name="name">
          </div>

          <div class="form-group">
            <label>Read Only</label>
            <input type="checkbox" checked class="form-check-label"
                   [(ngModel)]="department.readOnly" id="readOnly" name="readOnly">
          </div>

          <div class="form-group">
            <label>Mandatory</label>
            <input type="checkbox" checked class="form-check"
                   [(ngModel)]="department.mandatory" id="mandatory" name="mandatory">
          </div>

          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
