<button routerLink="/create-department" class="btn btn-primary"  aria-current="page">Create Department</button>
<h2>Department List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Read Only</th>
    <th>Mandatory</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let department of departments">
    <td>{{department.name}}</td>
    <td>{{department.readOnly}}</td>
    <td>{{department.mandatory}}</td>
    <td>
      <button (click)="openUpdateModal(department)" class="btn btn-info"><img src="assets/pencil.svg"></button>
      <button [disabled]="department.readOnly" (click) = "deleteDepartment(department.id!)" class="btn btn-danger"><img src="assets/trash-fill.svg"></button>
    </td>
  </tr>
  </tbody>
</table>
